/* CSS Stylesheet */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.clearfix {
    clear: both !important;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #5b5b5b;
    background: #f1f1f1;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 30px;
}
html, body {
    height: 100%;
    width: 100%;
}

/* Login Page */
.container {
    height: 100%;
    width: 100%;
}
.login {
    margin: auto;
    padding: 10% 0 0;
    width: 320px;
}
.login h1 {
    width: 100%;
    height: 24px;
    background: url(../images/logo.png) no-repeat center 0;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;
}
.login h1 a {
    width: 259px;
    height: 24px;
    background: url(../images/logo.png) no-repeat 0 0;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;
}
.login .loginform {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    font-weight: 400;
    margin-left: 0;
    margin-top: 40px;
    overflow: hidden;
    padding: 26px 24px;
}
.login .loginform ul li {
    margin: 0 0 10px;
}
.login .loginform ul li:last-child {
    margin: 0;
}
.login .loginform .msg {
    border: 1px dotted #da4f65;
    color: #da4f65;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 10px;
    text-align: center;
    text-transform: uppercase;
}
.login .loginform label {
    color: #777;
    font-size: 14px;
    line-height: 20px;
    display: block;
    clear: both;
    margin: 0 0 3px;
}
.login .loginform input[type="text"], .login .loginform input[type="password"], .input {
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    padding: 0 12px;
    display: block;
    width: 100%;
    color: #32373c;
    outline: 0 none;
    -webkit-transition: border-color 0.05s ease-in-out 0s;
    -moz-transition: border-color 0.05s ease-in-out 0s;
    transition: border-color 0.05s ease-in-out 0s;
    background: #fbfbfb;
}
.login .loginform input[type="text"]:focus, .login .loginform input[type="password"]:focus, .input:focus {
    border-color: #5b9dd9;
    -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
    -moz-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
    box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}
.login .loginform input[type="submit"] {
    background: #284882;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 40px;
    margin: 10px 0 0;
    padding: 0 30px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    border: none;
}
.login .loginform input[type="submit"]:hover {
    background: #2190cc;
}
.header {
    border-bottom: 1px solid #cdcdcd;
    padding: 20px 0;
    background: #fff;
}
.header .logo {
    display: inline-block;
    float: left;
    margin: 7px 0 0;
}
.header .logo img {
    display: block;
}
.header .apart {
    float: right;
}
.footer {
    background: #383838;
    clear: both;
    display: block;
    padding: 25px 0;
    text-align: center;
    /* position: fixed;
    bottom: 0px;
    left: 0px;
    */
    width: 100%;
}
body {
    padding: 0 0 70px;
}
.footer p {
    color: #ababab;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
.button, input[type="button"] {
    background: #284882 none repeat scroll 0 0;
    border-radius: 4px;
    border: none;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
input[type="button"] {
    height: 28px;
    line-height: 27px;
    padding: 0 16px;
    font-size: 12px;
}
.button:hover, input[type="button"]:hover {
    background: #2190cc none repeat scroll 0 0;
}
.nav {
    border-bottom: 1px solid #cdcdcd;
    padding: 12px 0;
    background: #fff;
}
.nav ul {
    font-size: 0px;
}
.nav ul li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 0 20px;
    color: #284882;
}
.nav ul li:first-child {
    margin: 0;
}
.nav ul li a {
    color: #284882;
    text-decoration: none;
}
.nav ul li a.hrefactive {
    color: #2190cc;
}
.main {
    padding: 30px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
}
table, table td, table th {
    border: solid 1px #cdcdcd;
    font-size: 14px;
    line-height: 20px;
}
table th {
    font-weight: 700;
}
table td {
    padding: 6px 10px;
    font-size: 13px;
    line-height: 19px;
}
table th {
    padding: 10px;
}
table a {
    color: #2190cc;
}
table tr.headings th:last-child, table tr.pointer td:last-child {
    width: 8%;
}
table tr.headings th:nth-child(6), table tr.pointer td:nth-child(6) {
    width: 10%;
}
table tr.headings th:nth-child(7), table tr.pointer td:nth-child(7) {
    width: 8%;
}
table tr{ background: #fff; }
table tr.even.pointer, table tr:nth-child(odd) {
    background: #fafafa;
}
table tr.pointer, table tr:nth-child(even) {
    background: #fff;
}
table tr.headings {
    background: #F0F8FD;
}
.pager-table {
    margin: 0 0 10px;
}
.pager-table td {
    background-color: #dce8f0;
}
table.pager-table, table.pager-table td, table.pager-table th {
    border: solid 1px #b3b3b3;
}
table.white {
    background: #fff;
}

table.field-control input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]), table.field-control select{ height: 30px; line-height: 30px; padding: 0 10px; width: 70%; }

.reload, .cancel{ cursor: pointer; display: inline-block; vertical-align: middle; margin: 0 10px 0 0; }
.pager-table td.pager p{ line-height: 28px; display: inline-block; vertical-align: top; margin: 0 15px; }
.pager-table td.pager input[type="button"]{ float: right; }
.pager-table td.pager .pages input, .pager-table td.pager .pages select{ height: 26px; text-align: center; width: 40px; margin: 0 4px; }
.pager-table td.pager .pages span.arrow{ vertical-align: top; display: inline-block; }
.pager-table td.pager .pages span.arrow img{ display: inline-block; vertical-align: middle; }



















